<section class="flex flex-col cta_about min-h-[80vh] h-[80vh] justify-center p-[14vw] space-y-3">
    <h1 class="text-5xl text-white font-bold my-3">Empowering Young Lives</h1>
    <p class=" text-white mb-5 ">One world, one people, one life, Join us in transforming lives of underpriveleged children</p>
    <div class="flex flex-row items-center gap-x-4  mt-10">
        <a href="#" class=" py-3 px-8 rounded-md text-white bg-accent hover:text-white hover:bg-opacity-60">Donate</a>
        <a href="#" class="border py-3 px-8 rounded-md text-white">Learn More</a>
    </div>
</section>