<div class="container mx-auto px-4 py-8">
    <div class="text-left mb-12">
        <h1 class="text-4xl font-bold">What we Do: Milestones of Impact and Change</h1>
        <div class="mt-4 flex space-x-4">
            <a href="#" class="px-4 py-2 border border-black text-black rounded hover:bg-black hover:text-white transition">Explore</a>
            <a href="#" class="px-4 py-2 border border-black text-black rounded hover:bg-black hover:text-white transition">Join</a>
        </div>
    </div>

    <div class="relative border-l-2 border-black">
        {% comment %} <div class="mb-12 pl-8 relative">
            <div class="absolute -left-4 top-0 w-8 h-8 bg-black rounded-full"></div>
            <h3 class="text-xl font-bold mb-2">Water: </h3>
            <p class="text-base">Wherever there is a shortage of clean water, we are committed to building and maintaining facilities that allow everyone to access it, thus meeting a basic human need, while ensuring improved hygiene and sanitation conditions for people.</p>
        </div> {% endcomment %}

        {% comment %} <div class="mb-12 pl-8 relative">
            <div class="absolute -left-4 top-0 w-8 h-8 bg-black rounded-full"></div>
            <h3 class="text-xl font-bold mb-2">Food: </h3>
            <p class="text-base">IThe lack of adequate nutrition is a threat to the normal development of physical, intellectual and cultural capacities of many people, especially children. This is why we are committed to building community canteens and promoting organic farming projects.</p>
        </div> {% endcomment %}

        <div class="mb-12 pl-8 relative">
            <div class="absolute -left-4 top-0 w-8 h-8 bg-black rounded-full"></div>
            <h3 class="text-xl font-bold mb-2">Education:</h3>
            <p class="text-base">Education offers a vital alternative to child labor and exploitation, providing a pathway to break free from the cycles of ignorance and poverty. It is the foundation upon which a better future can be built. This is why we are dedicated to establishing schools and offering educational support to hundreds of students, ensuring they have the opportunity to thrive and realize their full potential. Through our commitment to education, we empower individuals and communities to create lasting positive change.</p>
        </div>

        <div class="pl-8 mb-12 relative">
            <div class="absolute -left-4 top-0 w-8 h-8 bg-black rounded-full"></div>
            <h3 class="text-xl font-bold mb-2">Work: </h3>
            <p class="text-base">To create meaningful opportunities for decent work and enhance the living standards of the most vulnerable families, we offer vocational training courses, support the promotion of crafts, and foster small cooperative enterprises. This includes providing access to non-profit credit to help these initiatives thrive. By empowering individuals with the skills and resources needed for sustainable livelihoods, we aim to foster economic independence and improve the quality of life within underserved communities.</p>
        </div>
        <div class="pl-8 mb-12 relative">
            <div class="absolute -left-4 top-0 w-8 h-8 bg-black rounded-full"></div>
            <h3 class="text-xl font-bold mb-2">Health: </h3>
            <p class="text-base">Through the collaboration of doctors, therapists, and healthcare professionals, we implement projects that prioritize the common good of health. Our initiatives include medical assistance, workshops, seminars, and training courses that provide accessible yet effective tools. These efforts are designed to enhance the health resources within local communities, leveraging and building upon the strengths of local cultures to promote long-term well-being.</p>
        </div>
        <div class="pl-8 relative">
            <div class="absolute -left-4 top-0 w-8 h-8 bg-black rounded-full"></div>
            <h3 class="text-xl font-bold mb-2">Culture: </h3>
            <p class="text-base">We believe that the preservation and respect for cultural biodiversity is essential to the evolution of society. Each community's cultural heritage is a valuable treasure of humanity, and it is crucial to protect and nurture these traditions. For this reason, we are dedicated to safeguarding and promoting their free development through the establishment of Centers for the Culture of the Common Good. These centers serve as spaces to celebrate and sustain cultural diversity, fostering a deeper understanding and appreciation of the unique legacies that enrich our global community.</p>
            <div class="absolute -left-4 bottom-0 w-8 h-8 bg-black rounded-full"></div>
        </div>
    </div>
</div>