{% load static %}
<section
  class="flex flex-col md:flex-row items-center w-[90vw] md:w-[80vw] mx-auto py-8"
>
  <!-- Text Content -->
  <div class="w-full md:w-[50%] px-4 flex flex-col">
    <h1 class="text-xl md:text-3xl font-bold my-2 text-center md:text-left">
      Early Childhood Mission
    </h1>
    <p class="text-sm md:text-base mt-4 text-center md:text-left">
      Our mission is to provide a safe, nurturing, and engaging early learning
      environment that meets the diverse needs of children and families in our
      community, particularly those facing economic challenges. We are dedicated
      to creating a foundation that ensures every child receives the
      opportunities they deserve, regardless of their family's financial
      situation. Through this commitment, we strive to empower children to reach
      their full potential and foster a brighter future for all.
    </p>

    <!-- Impact and Hope Section -->
    <div
      class="flex flex-col md:flex-col justify-between my-7 gap-y-6 md:gap-y-0"
    >
      <div class="flex-1 text-center md:text-left">
        <h2 class="text-lg md:text-xl font-semibold text-center">Impact</h2>
        <p class="text-sm md:text-base">
          Empower local initiatives and strengthen our community by fostering growth, opportunity, and positive change. By supporting these efforts, we contribute to the collective well-being, ensuring a thriving and resilient community for all.Support local initiatives and uplift your community.
        </p>
      </div>
      <div class="flex-1 text-center md:text-left">
        <h2 class="text-lg md:text-xl font-semibold text-center">Hope</h2>
        <p class="text-sm md:text-base">
          United in purpose, we have the power to create a brighter, more promising future for all. Together, we can inspire positive change and pave the way for lasting impact.
        </p>
      </div>
    </div>
  </div>

  <!-- Image Section -->
  <div class="w-full md:w-[50%] mt-6 md:mt-0">
    <img
      src="{% static 'img/happy_children.jpg' %}"
      class="w-full h-full  object-cover rounded-md"
      alt="Happy Children"
    />
  </div>
</section>
