{% load static %}
<div style="z-index: 10000;" id="navbar" class="z-50 w-full flex flex-row  justify-between items-center md:px-10 px-3">
    <!-- Logo Section -->
    <div class="flex flex-row items-center flex-1 gap-x-12">
        <div class="">
            <a href="{% url 'homepage' %}">
                <img src="{% static 'img/logo.png' %}" alt="Tresinfra" style="width: 6rem;height: 6rem;">
            </a>
        </div>
        <ul class="hidden md:flex flex-row items-center static gap-y-3 py-4 flex-1">
            <li>
                <a href="{% url 'homepage' %}" class="px-4 py-2 hover:text-red-700 {% if request.resolver_match.url_name == 'homepage' %} text-red-700 {% endif %}">Home</a>
            </li>
            <li>
                <a href="{% url 'arts' %}" class="px-4 py-2 hover:text-red-700 {% if request.resolver_match.url_name == 'arts' %} text-red-700 {% endif %}">Art</a>
            </li>
            <li>
                <a href="{% url 'events' %}" class="px-4 py-2 hover:text-red-700 {% if request.resolver_match.url_name == 'events' %} text-red-700 {% endif %}">Events</a>
            </li>
            <li>
                <a href="{% url 'contactus' %}" class="px-4 py-2 hover:text-red-700 {% if request.resolver_match.url_name == 'contactus' %} text-red-700 {% endif %}">Wellness</a>
            </li>
        </ul>
    </div>
    <!-- Navigation Section -->
    <div class="md:w-[100%] flex-1 flex flex-col">
        <!-- Hamburger Menu (Visible on Mobile) -->
        <div class="md:hidden">
            <button id="menu-toggle">
                <i id="menu-icon" class="fa fa-bars text-red-700 text-3xl flex" aria-hidden="true"></i>
                <i id="close-icon" class="hidden fa fa-times text-red-700 text-3xl" aria-hidden="true"></i>
            </button>
        </div>
        
        <!-- Navigation Links -->
        <ul id="menu" class="flex flex-col gap-y-3 py-4 md:flex-row md:w-[100%]  flex-1 justify-center  gap-x-4 md:items-center md:gap-x-4 absolute md:static bg-white md:bg-transparent top-16 md:top-auto left-0 w-full  shadow md:shadow-none my-4">
            <div class="md:hidden flex flex-col items-center">
                <li>
                    <a href="{% url 'homepage' %}" class="px-4 py-2 hover:text-red-700 {% if request.resolver_match.url_name == 'homepage' %} text-red-700 {% endif %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'arts' %}" class="px-4 py-2 hover:text-red-700 {% if request.resolver_match.url_name == 'arts' %} text-red-700 {% endif %}">Art</a>
                </li>
                <li>
                    <a href="{% url 'events' %}" class="px-4 py-2 hover:text-red-700 {% if request.resolver_match.url_name == 'events' %} text-red-700 {% endif %}">Events</a>
                </li>
                <li>
                    <a href="{% url 'contactus' %}" class="px-4 py-2 hover:text-red-700 {% if request.resolver_match.url_name == 'contactus' %} text-red-700 {% endif %}">Wellness</a>
                </li>
            </div>
            
            <div class="flex flex-col md:flex-row items-center justify-end  flex-1 self-end md:static md:right-0">
                <li class="group flex flex-col relative">
                    <a href="{% url 'aboutus' %}" class="px-4 py-2 hover:text-red-700">
                        About us <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                    </a>
                    <ul
                        class="absolute top-12 w-48 px-4 z-50 rounded-md shadow-sm shadow-black bg-white opacity-0 pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto transform translate-y-[-20px] group-hover:translate-y-0 transition-all duration-300 ease-in-out flex flex-col">
                        <li class="flex flex-col space-y-2 py-4">
                            <a href="{% url 'aboutus' %}#mission">The Mission</a>
                            <a href="{% url 'aboutus' %}#SharingValue">Sharing Value</a>
                            <a href="{% url 'aboutus' %}#history">The History</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'contactus' %}" class="px-4 py-2 hover:text-red-700 {% if request.resolver_match.url_name == 'contactus' %} text-red-700 {% endif %}">Contact</a>
                </li>
                
                <li>
                    <a href="{% url 'blog' %}" class="px-4 py-2 hover:text-red-700 {% if request.resolver_match.url_name == 'blog' %} text-red-700 {% endif %}">Blogs</a>
                </li>
                <li>
                    <a href="{% url 'payment' %}" class="bg-accent px-4 py-2 rounded-full text-accent {% if request.resolver_match.url_name == 'payment' %}  bg-orange-600 {% else %} text-white {% endif %} ">Donate</a>
                </li>
            </div>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#menu-toggle').click(function () {
            // Toggle the menu visibility
            $('#menu').toggleClass('show');

            // Toggle the icons
            if ($('#menu').hasClass('show')) {
                $('#menu-icon').addClass('hidden').removeClass('flex');
                $('#close-icon').addClass('flex').removeClass('hidden');
            } else {
                $('#close-icon').addClass('hidden').removeClass('flex');
                $('#menu-icon').addClass('flex').removeClass('hidden');
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const navbar = document.getElementById("navbar"); // Ensure navbar has the correct ID
    
        window.addEventListener("scroll", function () {
            //console.log(window.scrollY);
    
            if (window.scrollY > 800) {
                navbar.classList.add("scrolled-navbar1"); // Green
                navbar.classList.remove("scrolled-navbar2", "scrolled-navbar3", "scrolled-navbar");
            } else if (window.scrollY > 500) {
                navbar.classList.add("scrolled-navbar2"); // Yellow
                navbar.classList.remove("scrolled-navbar1", "scrolled-navbar3", "scrolled-navbar");
            } else if (window.scrollY > 300) {
                navbar.classList.add("scrolled-navbar3"); // Blue
                navbar.classList.remove("scrolled-navbar1", "scrolled-navbar2", "scrolled-navbar");
            } 
            else {
                navbar.classList.remove("scrolled-navbar", "scrolled-navbar1", "scrolled-navbar2", "scrolled-navbar3");
            }
        });
    });
    
</script>

<style>
    
    .scrolled-navbar3 {
        background-color:rgba(24, 119, 242,0.5) !important; /* Change to your desired color */
       
        transition: background-color 2s ease-in-out;
        
    }
    .scrolled-navbar2 {
        background-color:rgba(76, 48, 202, 0.7) !important; /* Change to your desired color */
      
        transition: background-color 2s ease-in-out;
    }
    .scrolled-navbar1 {
        background-color:rgba(136, 44, 121,0.9) !important; /* Change to your desired color */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 2s ease-in-out;
    }
    
</style>

